%section.use-of-terms
  %h1 Regulamin sklepu internetowego Cukoo
  %p
    Niniejszy Regulamin określa ogólne warunki, zasady oraz sposób sprzedaży prowadzonej przez Elżbietę Wojcieszek prowadzącą działalność gospodarczą pod nazwą Elżbieta Wojcieszek CUCKOO adres: 30-087 Kraków, ul. Lucjana Rydla 57 lok. 1 A, na podstawie wpisu do Centralnej Ewidencji i Informacji o Działalności Gospodarczej Rzeczypospolitej Polskiej prowadzonej przez Ministra Gospodarki REGON 123152105, NIP 6771386733 za pośrednictwem sklepu internetowego www.cukoo.pl (zwanego dalej: „Sklepem”) oraz określa zasady i warunki świadczenia przez Elżbietę Wojcieszek usług nieodpłatnych drogą elektroniczną. 
    Regulamin skierowany jest do wszystkich użytkowników Sklepu www.cukoo.pl oraz określa zasady dokonywania rejestracji i korzystania z konta Sklepu, zasady dokonywania elektronicznej rezerwacji produktów dostępnych w ofercie Sklepu, składania zamówień w Sklepie oraz zasady zawierania umów sprzedaży towarów.
    Dostęp do Regulaminu każdy użytkownik może uzyskać w dowolnym momencie, poprzez „kliknięcie” linku „Regulamin” umieszczonego na stronie sklepu, a także poprzez zapisanie jego wersji PDF na wybranym przez siebie nośniku.
    Informacje o produktach w Sklepie m.in. opisy, ceny stanowią zaproszenie do złożenia oferty zawarcia umowy, sprzedaży w rozumieniu art. 71 k.c., zgodnie z warunkami Regulaminu.
    Towary w Sklepie są szczegółowo oznaczone. Na stronie internetowej znajdują się informacje o właściwościach towaru, jego cenie, materiale, z którego jest wykonany itp.
    Zdjęcia i prezentacje oferowanych produktów służą prezentacji konkretnie wskazanych na nich modeli.
  
  %ol{ type: "I"}
    %li 
      Definicje
      %ol
        %li Dni robocze - oznacza dni tygodnia od poniedziałku do piątku z wyłączeniem dni ustawowo wolnych od pracy.
        %li Dostawa - oznacza czynność faktyczną polegającą na dostarczeniu Klientowi przez Sprzedawcę, za pośrednictwem Dostawcy, Towaru określonego w zamówieniu.
        %li Dostawca – oznacza firmę kurierską, z którą współpracuje Sprzedawca w zakresie dokonywania Dostawy Towarów.
        %li Hasło - oznacza ciąg znaków literowych, cyfrowych lub innych wybranych przez Klienta podczas Rejestracji w Sklepie Internetowym, wykorzystywanych w celu zabezpieczenia dostępu do Konta Klienta w Sklepie Internetowym.
        %li Klient - oznacza osobę fizyczną, osobę prawną lub jednostkę organizacyjną niebędącą osobą prawną, której ustawa przyznaje zdolność prawną, prowadząca we własnym imieniu działalność gospodarczą lub zawodową. 
        %li Konto Klienta - oznacza indywidualny dla każdego Klienta panel, uruchomiony na jego rzecz przez Sprzedawcę, po dokonaniu przez Klienta Rejestracji.
        %li Login - oznacza indywidualne oznaczenie Klienta, przez niego ustalone, składające się z ciągu znaków literowych, cyfrowych lub innych, wymagane wraz z Hasłem do założenia Konta Klienta w Sklepie Internetowym. Login jest właściwym adresem poczty elektronicznej Klienta.
        %li Regulamin – oznacza niniejszy regulamin Sklepu Internetowego.
        %li Rejestracja - oznacza czynność faktyczną dokonaną w sposób określony w Regulaminie, wymaganą dla korzystania przez Klienta ze wszystkich funkcjonalności Sklepu Internetowego.
        %li Sprzedawca - oznacza Elżbietę Wojcieszek prowadzącą działalność gospodarczą pod nazwą Elżbieta Wojcieszek CUCKOO adres: 30-087 Kraków, ul. Lucjana Rydla 57 lok. 1 A, na podstawie wpisu do Centralnej Ewidencji i Informacji o Działalności Gospodarczej Rzeczypospolitej Polskiej prowadzonej przez Ministra Gospodarki REGON 123152105, NIP 6771386733, tel. 798-718-950 e-mail: bok@cukoo.pl  będącą jednocześnie właścicielem Sklepu Internetowego.
        %li Strona Internetowa Sklepu - oznacza strony internetowe, pod którymi Sprzedawca prowadzi Sklep Internetowy, działające w domenie www.cukoo.pl
        %li Towar - oznacza produkt przedstawiony przez Sprzedawcę za pośrednictwem Strony Internetowej Sklepu.
        %li Umowa sprzedaży - oznacza umowę sprzedaży zawartą drogą elektroniczną na zasadach określonych w Regulaminie, między Klientem a Sprzedawcą.
    %li 
      Postanowienia ogólne
      %ol
        %li Wszelkie prawa do Sklepu, w tym majątkowe prawa autorskie, za wyjątkiem logotypów i zdjęć prezentowanych na Stronie Internetowej Sklepu w celach prezentacji towarów, do których to prawa autorskie należą do podmiotów trzecich) należą do Sprzedawcy, a korzystanie z nich może następować wyłącznie w sposób określony i zgodny z Regulaminem.
        %li Sklep jest udostępniany przez Sprzedawcę za pośrednictwem sieci Internet i Strony Internetowej Sklepu, jako zasób systemu teleinformatycznego oraz informatycznego.
    %li 
      Zasady korzystania ze sklepu
      %ol
        %li Korzystanie ze Sklepu oznacza każdą czynność Klienta, która prowadzi do zapoznania się przez niego z treściami zawartymi na Stronie Internetowej Sklepu, z zastrzeżeniem postanowień punktu IV Regulaminu. 
        %li Korzystanie ze Sklepu odbywać może się wyłącznie na zasadach i w zakresie wskazanym w Regulaminie.
        %li Sprzedawca dołoży starań, aby korzystanie ze Sklepu było możliwe dla użytkowników Internetu z użyciem wszystkich popularnych przeglądarek internetowych, systemów operacyjnych, typów urządzeń oraz typów połączeń internetowych.
        %li W celu złożenia zamówienia w Sklepie oraz w celu korzystania z usług dostępnych na Stronach Internetowych Sklepu, konieczne jest posiadanie przez Klienta aktywnego konta poczty elektronicznej.
        %li Sprzedawca podejmuje wszelkie możliwe i nakazane odpowiednimi przepisami prawa środki techniczne i organizacyjne służące ochronie danych osobowych Klientów, w szczególności zapobiegające pozyskaniu i modyfikacji przez osoby nieupoważnione danych podawanych podczas rejestracji.
        %li Sprzedawca oświadcza, iż publiczny charakter sieci Internet i korzystanie z usług świadczonych drogą elektroniczną wiązać może się z zagrożeniem pozyskania i modyfikowania danych Klientów przez osoby nieuprawnione, dlatego Klienci powinni stosować właściwe środki techniczne, które zminimalizują wskazane wyżej zagrożenia. W szczególności stosować programy antywirusowe i chroniące tożsamość korzystających z sieci Internet. Sprzedawca nigdy nie zwraca się do Klienta z prośbą o udostępnienie mu w jakiejkolwiek formie Hasła.
    %li 
      Rejestracja
      %ol
        %li W celu utworzenia Konta Klienta, Klient obowiązany jest dokonać Rejestracji.
        %li Rejestracja nie jest konieczna do składania przez Klientów zamówień w Sklepie.
        %li 
          Wypełnienie formularza rejestracyjnego następuje z zachowaniem poniższych zasad:
          %ol{type: "a"}
            %li Klient powinien wypełnić wszystkie pola formularza rejestracyjnego chyba, że pole jest oznaczone jako opcjonalne;
            %li Informacje wpisane do formularza rejestracyjnego powinny dotyczyć wyłącznie Klienta i być zgodne z prawdą, przy czym Klient jest osobą odpowiedzialną za prawdziwość informacji wpisanych do formularza rejestracyjnego;
            %li Klient powinien zapoznać się i potwierdzić fakt zapoznania się z treścią Regulaminu oznaczając odpowiednie pole formularza rejestracyjnego;
            %li Klient oznaczając odpowiednie pole formularza rejestracyjnego, powinien wyrazić wolę zawarcia umowy o świadczenie drogą elektroniczną, na jego rzecz przez Sprzedawcę, usługi prowadzenia Konta Klienta, przy czym niewyrażenie przez Klienta woli zawarcia umowy uniemożliwia Rejestrację i założenie Konta Klienta;
            %li Klient powinien wyrazić zgodę na przetwarzanie jego danych osobowych zawartych w formularzu rejestracyjnym w celu realizacji usług na podstawie umów zawartych zgodnie z Regulaminem (art. 23 ust. 1 pkt 3 ustawy o ochronie danych osobowych) przy czym Klientowi przysługuje prawo dostępu do treści swoich danych oraz ich poprawiania.
            %li 
              Przesłanie wypełnionego formularza rejestracyjnego jest równoznaczne z:
              %ul
                %li przyjęciem do wiadomości i akceptacją przez Klienta postanowień Regulaminu;
                %li upoważnieniem Sprzedawcy do przetwarzania danych osobowych Klienta zawartych w formularzu rejestracyjnym w celu świadczenia usługi prowadzenia Konta Klienta i wyrażeniem zgody na przekazywanie przez Sprzedawcę na adres poczty elektronicznej podany przez Klienta podczas Rejestracji, informacji związanych z obsługą techniczną Konta Klienta.
            %li Po przesłaniu wypełnionego formularza rejestracyjnego, Klient otrzymuje niezwłocznie, drogą elektroniczną na adres poczty elektronicznej podany w formularzu rejestracyjnym potwierdzenie Rejestracji przez Sprzedawcę. Z tą chwilą zawarta zostaje umowa o świadczenie drogą elektroniczną usługi prowadzenia Konta Klienta, zaś Klient uzyskuje możliwość dostępu do Konta Klienta i dokonywania zmian podanych podczas rejestracji danych, za wyjątkiem Loginu.
            %li Klient zobowiązany jest dołożyć wszelkich starań w celu zachowania poufności i nieudostępniania osobom trzecim Hasła. W razie zaistnienia okoliczności wskazujących na podejrzenie, iż Hasło znalazło się w posiadaniu osoby nieuprawnionej, Klient ma obowiązek niezwłocznego zawiadomienia o tym fakcie Sprzedawcę, z wykorzystaniem dostępnych środków łączności. W takiej sytuacji Klient powinien niezwłocznie zmienić Hasło, wykorzystując odpowiednie funkcjonalności w ramach Konta Klienta.
            %li Sklep podejmuje wszelkie możliwe i nakazane odpowiednimi przepisami prawa środki techniczne i organizacyjne służące ochronie danych osobowych Klientów, w szczególności zapobiegające pozyskaniu i modyfikacji przez osoby nieupoważnione danych podawanych podczas rejestracji.
          
    %li 
      Zamówienia
      %ol
        %li Aby zawrzeć umowę sprzedaży, należy złożyć zamówienie na stronie Sklepu (on-line).
        %li Klient może złożyć zamówienie bez konieczności trwałego rejestrowania swoich danych w bazie Sklepu (tzw. zakup bez rejestracji).
        %li Klient może składać zamówienia w Sklepie przez 7 (siedem) dni w tygodniu i 24 (dwadzieścia cztery) godziny na dobę za pośrednictwem Strony Internetowej Sklepu.
        %li Warunkiem złożenia zamówienia jest wypełnienie w formularzu wszystkich wymaganych danych koniecznych do wysyłki.
        %li Klient kompletuje zamówienie, wybierając Towar, którym jest zainteresowany, poprzez wybór polecenia "DODAJ DO KOSZYKA" pod danym Towarem znajdującym się na Stronie Internetowej Sklepu. Klient po skompletowaniu całości zamówienia i wskazaniu w „KOSZYKU” sposobu dostawy oraz formy płatności, składa zamówienie przez wysłanie formularza zamówienia do Sprzedawcy. Wysłanie formularza następuje przez aktywację odpowiedniego pola w formularzu zamówienia. Każdorazowo przed wysyłką zamówienia do Sprzedawcy podawana jest cena łączna wybranych Towarów oraz łączny koszt wybranego sposobu Dostawy.
        %li Wysłanie zamówienia przez Klienta (zatwierdzenie przyciskiem „Złóż zamówienie”) stanowi ofertę Klienta złożoną Sprzedawcy co do zawarcia Umowy sprzedaży, zgodnie z treścią Regulaminu i złożonym zamówieniem.
        %li Po złożeniu zamówienia, Sprzedawca przesyła na podany przez Klienta adres poczty elektronicznej potwierdzenie złożenia przez Klienta zamówienia, zawierającego informację dotyczące pozycji w zamówieniu, ilości produktów, wartości zamówienia, wybranego rodzaju dostawy i płatności, czasu realizacji zamówienia oraz danych adresowych klienta, które stanowi potwierdzenie otrzymania przez Sklep oferty zakupu Klienta.
        %li Sprzedawca przesyła potwierdzenie przyjęcia lub odmowę przyjęcia oferty Klienta założonej drogą elektroniczną /”potwierdzenie przyjęcia zamówienia do realizacji”/ lub odmowę przyjęcia oferty Klienta, na wskazany przez niego adres poczty elektronicznej e-mail.  Po otrzymaniu potwierdzenia przyjęcia zamówienia dochodzi do zawarcia umowy sprzedaży zamówionych przez Klienta towarów.
        %li Oferty złożone przez Klienta w dni ustawowo wolne od pracy rozpatrywane będą w pierwszym dniu roboczym.
    %li 
      Ceny i metody płatności
      %ol
        %li 
          Ceny na Stronie Internetowej Sklepu zamieszczone przy danym Towarze:
          %ol{type: "a"}
            %li stanowią ceny brutto (z podatkiem VAT) i określone są w złotych polskich;
            %li nie zawierają informacji odnośnie kosztów Dostawy, o których Klient będzie poinformowany przy wyborze sposobu Dostawy;
        %li Ostateczną ceną wiążącą strony Umowy sprzedaży jest cena Towaru zawarta na Stronie Internetowej Sklepu w momencie składania zamówienia przez Klienta.
        %li Informacja na temat całkowitej wartości zamówienia określona jest każdorazowo w „KOSZYKU”, po dokonaniu przez Klienta wyboru formy Dostawy oraz określeniu formy płatności.
        %li 
          Klient może wybrać następujące formy płatności za zamówione Towary:
          %ol{type: "a"}
            %li przelew bankowy na rachunek bankowy Sprzedawcy (w tym przypadku realizacja zamówienia rozpoczęta zostanie po przesłaniu Klientowi przez Sprzedawcę potwierdzenia przyjęcia zamówienia, zaś wysyłka dokonana zostanie niezwłocznie po wpłynięciu środków na rachunek bankowy Sprzedawcy);
            %li gotówką Dostawcy w miejscu dostawy /płatność za pobraniem/;
            %li przelew bankowy poprzez zewnętrzny system płatności PayU, obsługiwany przez firmę PayU S.A. z siedzibą w Poznaniu (w tym przypadku realizacja zamówienia rozpoczęta zostanie po przesłaniu Klientowi przez Sprzedawcę potwierdzenia przyjęcia zamówienia oraz po otrzymaniu przez Sprzedawcę informacji z systemu PayU o dokonaniu płatności przez Klienta);
            %li gotówką przy odbiorze osobistym – płatność w siedzibie Sprzedawcy (w tym przypadku    realizacja zamówienia zostanie dokonana niezwłocznie po przesłaniu Klientowi przez Sprzedawcę potwierdzenia przyjęcia zamówienia, zaś Towar wydany zostanie w siedzibie Sprzedawcy);
        %li W przypadku wyboru przez Klienta metody płatności przedpłaty za zamówiony towar za pośrednictwem przelewu bankowego lub płatności za pośrednictwem systemu płatniczego PayU, brak otrzymania płatności na rachunek Sprzedawcy lub podmiotów pośredniczących w transakcji (serwis PayU) w terminie 3 dni od złożenia zamówienia, spowoduje anulację zamówienia.
        %li Sprzedawca zastrzega sobie prawo zmiany cen towarów znajdujących się w Sklepie, wprowadzania nowych towarów do sprzedaży, przy czym zmiany takie nie naruszają praw osób, które zawarły umowy sprzedaży towarów oferowanych przez Sklep przed dokonaniem wyżej wymienionych zmian.
    %li 
      Dostawa i odbiór
      %ol
        %li Klient ponosi koszty dostawy towaru.
        %li 
          Klient może wybrać następujące formy dostawy zamówionego towaru:
          %ol{type: "a"}
            %li Dostawa za pośrednictwem Poczty Polskiej, zgodnie z obowiązującym cennikiem.
            %li Dostawa za pośrednictwem firmy kurierskiej, zgodnie z obowiązującym cennikiem DHL,DPD,etc.
        %li Zamówione Towary są dostarczane do Klienta za pośrednictwem Dostawcy, na adres wskazany w formularzu zamówienia.
        %li W dniu wysłania Towaru do Klienta (jeśli nie wybrano możliwości osobistego odbioru Towaru) przekazywana jest na adres poczty elektronicznej Klienta informacja potwierdzająca nadanie przesyłki przez Sprzedawcę.
        %li Klient powinien zbadać doręczoną przesyłkę w czasie i w sposób przyjęty przy przesyłkach danego rodzaju, w obecności pracownika Dostawcy.
        %li Klient ma prawo żądać od pracownika Dostawcy spisania właściwego protokołu w razie stwierdzenia ubytku lub uszkodzenia przesyłki.
        %li Klient ma możliwość odbioru osobistego zamówionego Towaru. Odbioru można dokonać w siedzibie Sprzedawcy od poniedziałku do soboty po wcześniejszym ustaleniu terminu odbioru pocztą elektroniczną lub telefonicznie.
        %li Utrwalenie, zabezpieczenie i udostępnienie istotnych postanowień umów zawieranych za pomocą środków porozumiewania się na odległość następuje przez wydrukowanie i przekazanie Klientowi dowodu zakupu (paragon lub faktura VAT zgodnie z wolą Klienta) wraz z dostawą towarów.
        %li Sprzedawca zamieści na Stronie Internetowej Sklepu informację o liczbie orientacyjnych Dni Roboczych, potrzebnych do realizacji zamówienia.
    %li 
      Gwarancja, reklamacje i zwroty
      %ol
        %li Każda rzecz kupiona w sklepie może być reklamowana z zachowaniem terminów i warunków reklamacji określonych odpowiednimi przepisami prawa, jeśli posiada wady, stanowiące o jej niezgodności z zawartą umową sprzedaży. Reklamację można złożyć drogą pocztową poprzez odesłanie towaru wraz z pisemnym opisem wady lub formularzem reklamacyjnym pobranym ze strony Sklepu i dowodem zakupu w Sklepie, listem poleconym lub inną formą przesyłki, na adres: Elżbieta Wojcieszek Cukoo ul. …………., ……….. Kraków, z dopiskiem: „Reklamacja e-sklep Elżbieta Wojcieszek Cukoo”. Klient otrzyma informację o sposobie rozpatrzenia reklamacji w terminie 14 dni liczonych od dnia następnego od otrzymania przez Sklep przesyłki zawierającej reklamowany towar. W przypadku pozytywnego rozpatrzenia reklamacji złożonej drogą pocztową Sprzedawca wyśle do Klienta produkt pełnowartościowy (naprawiony lub nowy) a gdy okaże się to niemożliwe (np. wyczerpanie zapasów magazynowych), zwróci pełną kwotę zapłaconej ceny towaru.
        %li W przypadku nie uwzględnienia reklamacji, towar zostanie odesłany wraz z opinią co do niezasadności reklamacji.
        %li W razie stwierdzenia przez Klienta uszkodzenia towaru podczas transportu, zaleca się aby Klient sporządził w obecności kuriera protokół szkody.
        %li Klient będący konsumentem w rozumieniu odpowiednich przepisów prawa ma prawo odstąpić od umowy sprzedaży bez podania przyczyny w ciągu 14 dni od daty otrzymania towaru i zwrócić towar niezwłocznie do Sklepu nie później niż w terminie 14 dni od dnia odstąpienia. W celu odstąpienia od umowy sprzedaży danego towaru, Klient zobowiązany jest złożyć pisemne oświadczenie o odstąpieniu od zawartej umowy (ewentualnie za pomocą udostępnionego Klientowi formularza) a następnie przesłać towar na adres sklepu na koszt i ryzyko Klienta, w stanie niezmienionym. Do przesyłki należy dołączyć dokument potwierdzający zachowanie terminu 14 dni w odniesieniu do konkretnych zwracanych towarów (np. paragon, faktura VAT). Pieniądze odesłane zostaną niezwłocznie nie później niż w terminie 7 dni od dnia zwrotu towaru na podany przez Klienta numer rachunku bankowego.
        %li Klient może również dokonać zwrotu towarów po wykonaniu prawa odstąpienia poprzez dostarczenie towarów do Sklepu Elżbieta Wojcieszek. Klient uprawniony jest do zwrotu towarów w sklepie stacjonarnym. W takim wypadku zwrot ceny zakupu przez Klienta zwracanych towarów nastąpi w terminie 7 dni roboczych na podany przez Klienta nr rachunku bankowego.
    %li Informacje dotyczące świadczenia usług drogą elektroniczną
    %li
      %ol
        %li 
          Sklep świadczy na rzecz Klientów następujące usługi drogą elektroniczną:
          %ol{type: "a"}
            %li Umożliwianie zawieranie on-line umów sprzedaży towarów w Sklepie zgodnie z niniejszym Regulaminem,
            %li Umożliwienie zakładania kont Klientów w Sklepie,
            %li Przesyłanie zamówionej informacji handlowej dotyczącej towarów.
        %li Klient uprawniony jest do odstąpienia od umów sprzedaży towarów zgodnie z odpowiednimi przepisami prawa i na zasadach określonych w niniejszym Regulaminie. Ponadto Klient uprawniony jest w każdym momencie do żądania zaprzestania świadczenia przez Sklep usług wskazanych w pkt 1 ppkt b) i c) powyżej.
        %li 
          Warunki techniczne świadczenia przez Sklep usług drogą elektroniczną są następujące:
          %ol{type: "a"}
            %li dostęp do sieci Internet,
            %li korzystanie z przeglądarki internetowej umożliwiającej edytowanie dokumentów hipertekstowych,
            %li posiadanie konta poczty elektronicznej.
        %li Reklamacje dotyczące usług świadczonych przez Sklep drogą elektroniczną mogą być składane poprzez przesłanie reklamacji na adres e-mail Sklepu. Reklamacja Klienta powinna zawierać oznaczenie usługobiorcy oraz krótki opis reklamacyjny. Sklep dołoży wszelkich starań, aby zgłoszone reklamacje były rozpatrzone w najszybszym możliwym terminie, jednak nie później niż 14 dni od dnia otrzymania przez Sklep Reklamacji. O sposobie rozpatrzenia reklamacji Klient zostanie powiadomiony poprzez wiadomość wysłaną na wskazany przez Klienta adres poczty e-mail.
    %li 
      Dane osobowe i pliki "cookies"
      %ol
        %li Administratorem danych osobowych Klientów przekazanych Sprzedawcy dobrowolnie w ramach Rejestracji oraz w ramach świadczenia przez Sprzedawcę usług drogą elektroniczną lub w ramach innych okoliczności określonych w Regulaminie, jest Sprzedawca.
        %li Dane osobowe przetwarzane będą przez Sprzedawcę wyłącznie na podstawie upoważnienia do przetwarzania danych oraz wyłącznie w celu realizacji zamówień lub usług świadczonych drogą elektroniczną przez Sprzedawcę oraz innych celach określonych w Regulaminie.
        %li Dane osobowe przekazane Sprzedawcy podawane są mu dobrowolnie, z tym jednak zastrzeżeniem, że niepodanie określonych w Regulaminie danych w procesie Rejestracji uniemożliwia Rejestrację i założenie Konta Klienta.
        %li Każdy kto przekaże Sprzedawcy swoje dane osobowe, ma prawo dostępu do ich treści oraz do ich poprawiania.
        %li Sprzedawca zapewnia możliwość usunięcia danych osobowych z prowadzonego zbioru, w szczególności w przypadku usunięcia Konta Klienta. Sprzedawca może odmówić usunięcia danych osobowych, jeżeli Klient nie uregulował wszystkich należności wobec Sprzedawcy lub naruszył obowiązujące przepisy prawa, a zachowanie danych osobowych jest niezbędne do wyjaśnienia tych okoliczności i ustalenia odpowiedzialności Klienta.
        %li Sprzedawca chroni przekazane mu dane osobowe oraz dokłada wszelkich starań w celu zabezpieczenia ich przed nieuprawnionym dostępem lub wykorzystaniem.
        %li Sprzedawca nie przekazuje, nie sprzedaje i nie użycza zgromadzonych danych osobowych Klientów innym osobom lub instytucjom, chyba że dzieje się to za wyraźną zgodą lub na życzenie Klienta, zgodnie z obowiązującymi przepisami prawa lub też na wniosek sądu, prokuratury, policji lub innego uprawnionego organu.
        %li Sprzedawca stosuje mechanizm plików "cookies", które podczas korzystania przez Klientów ze Stron Internetowych Sklepu, zapisywane są przez serwer Sprzedawcy na dysku twardym urządzenia końcowego Klienta.
        %li Stosowanie plików "cookies" ma na celu poprawne działanie Stron Internetowych Sklepu na urządzeniach końcowych Klientów. Mechanizm ten nie niszczy urządzenia końcowego Klienta oraz nie powoduje zmian konfiguracyjnych w urządzeniach końcowych Klientów ani w oprogramowaniu zainstalowanym na tych urządzeniach. „Cookies” nie mają na celu identyfikacji Klientów.
        %li 
          Sprzedawca stosuje mechanizm plików "cookies" w celu:
          %ol{type: "a"}
            %li zapamiętania informacji o urządzeniach końcowych Klientów;
            %li weryfikacji i rozwoju swojej oferty;
            %li statystycznym.
        %li Każdy Klient może wyłączyć mechanizm „cookies” w przeglądarce internetowej swojego urządzenia końcowego. Sprzedawca wskazuje, że wyłączenie „cookies” może jednak spowodować utrudnienia lub uniemożliwić korzystanie ze Stron Internetowych Sklepu.
    %li 
      Zapisy końcowe
      %ol
        %li Dane osobowe Klientów podawane podczas rejestracji w Sklepie są przetwarzane przez Elżbieta Wojcieszek wyłącznie w celu realizacji zamówień, mogą być także przetwarzane w celach marketingowych, o ile Klient wyrazi na to zgodę w odrębnym oświadczeniu. Klientowi przysługuje prawo uzupełniania, uaktualniania, sprostowania danych osobowych, czasowego lub stałego wstrzymania zezwolenia na ich przetwarzania lub żądania ich usunięcia, jeżeli są one niekompletne, nieaktualne, nieprawdziwe lub zostały zebrane z naruszeniem przepisów prawa albo są już zbędne do realizacji celu, dla którego zostały zebrane, oraz prawo wniesienia sprzeciwu co do przetwarzania danych osobowych dla celów marketingowych.
        %li Brak akceptacji postanowień niniejszego Regulaminu uniemożliwia zakup Towarów oferowanych przez Sklep. Sklep umożliwi Klientowi zapoznanie się z Regulaminem przy składanym zamówieniu. Klienci posiadający konto w Sklepie zostaną poinformowani o zmianie regulaminu za pośrednictwem korespondencji e-mail. Klientowi, który nie akceptuje wprowadzonych w Regulaminie zmian przysługuje uprawnienie do usunięcia konta w każdym czasie.
        %li Do umowy sprzedaży produktów w Sklepie stosuje się prawo polskie. Umowa zawierana jest w języku polskim.
        %li W sprawach nie uregulowanych niniejszym regulaminem stosuje się odpowiednio przepisy kodeksu cywilnego lub przepisów innych aktów prawnych mających zastosowanie do działalności i funkcjonowania sklepu.
        %li Sądem właściwym dla rozstrzygania sporów jest sąd miejscowo właściwy wg. obowiązujących przepisów.
        %li Elżbieta Wojcieszek zastrzega sobie prawo do dokonywania zmian Regulaminu w każdym czasie. Zmiany Regulaminu obowiązują w terminie 7 dni od momentu opublikowania ich na stronie internetowej Sklepu. Zmiany Regulaminu mają zastosowanie do zamówień złożonych po dokonaniu danej zmiany niniejszego Regulaminu.