%section.order-information
  %header
    %h1 Dziękujemy za zamówienie!
  .content
    %p Twoje zamówienie zostało przyjęte do realizacji.
    %p= render "orders/order_information/#{@order.order_partial}"
    %p Na Twój adres mailowy wysłaliśmy także potwierdzenie złożenia zamówienia.
  %footer
    W razie jakichkolwiek pytań jesteśmy do dyspozycji pod numerem telefonu 798-718-950 lub drogą mailową bok@cukoo.pl.
    