@import "mixins"

section.products
  margin-top: 10px
.products
  +unstyled-list
  margin-bottom: 17px
  a
    display: block
    text-decoration: none
    color: $light-grey
    margin-left: 17px
    float: left
    &:first-child
      margin-left: 0
  li
    text-align: left
    padding: 4px 4px 20px 4px
    +box-shadow
    position: relative     
    .info
      display: block
      padding: 5px
      max-width: 225px
      min-height: 70px
    .price
      background-color: $base-color
      color: white
      padding: 2px 6px
      position: absolute
      right: 5px
      bottom: 5px
    .fabric
      display: block
      color: $light-grey
      font-size: 13px
  
section.product-details
  .left-column
    float: left
  .right-column
    float: right
  .full-images-wrapper
    width: 674px
    height: 330px
    overflow: hidden
    position: relative
  .full-images
    +unstyled-list
    position: absolute
    li
      float: left
  .thumb-images
    +unstyled-list
    li
      float: left
      position: relative
      width: 100px
      height: 100px
      &:after
        content: ""
        position: absolute
        left: 0 
        right: 0
        top: 0
        bottom: 0
        background-color: rgba(0,0,0,0.2)
      &:hover
        &:after
          display: none
      &.active
        border: 2px solid white
        +box-shadow
        width: 96px
        height: 96px
        &:after
          display: none
        img
          width: 96px
          height: 96px
      a
        display: block
      img
        width: 100px
        height: 100px
  .large-picture
    float: left
  .details
    float: left
    margin-left: 10px
    height: 300px
    padding: 15px 0 15px 20px
    width: 320px
    position: relative
    h2
      font-size: 16px
      margin: 0
      border-bottom: 1px solid $grey
      padding-bottom: 5px
      margin-bottom: 20px
    .fabric
      margin-top: 20px
    .price
      position: absolute
      right: 0
      bottom: 40px
      font-size: 17px
      text-align: right
      span
        display: block
    .add-to-cart
      position: absolute
      bottom: 20px
      right: 0
      &:before
        content: ""
        background-image: image-url("small-icons-sprite.svg")
        background-position: -112px 0
        bottom: 3px
        left: 6px
        width: 28px
        height: 28px
        position: absolute
      .button
        padding-left: 40px
        height: 30px
        line-height: 30px
        &:before
          content: ""
          background-image: image-url("small-icons-sprite.svg")
          background-position: -112px 0
          top: 0
          left: 6px
          width: 28px
          height: 28px
          position: absolute
      .input
        text-align: right
      select
        margin-bottom: 60px
        text-align: right
        display: block
        float: right
      .label
        text-align: right
    