%p= "Witaj #{@resource.email}!"

%p Someone has requested a link to change your password. You can do this through the link below.

%p= link_to 'Zmień moje hasło', edit_password_url(@user_resource, :reset_password_token => @token)

%p Jeżeli nie prosiłeś o zmianę hasła, zignoruj ten email.
%p Twoje hasło nie ulegnie zmianie, jeżeli nie klikniesz w powyższy link.