.cookies-info
  Strona używa plików cookies zgodnie z polityką prywatności. Korzystając ze strony wyrażasz zgodę na używanie cookie, zgodnie z aktualnymi ustawieniami przeglądarki.
  = link_to "×", "", data: { role: "hide-cookies-button" }, class: "close"
.clearfix