%footer.main-footer
  %section.site-information
    %section.orders
      %h2 Zamówienia
      %ul
        %li=link_to "Jak zamawiać?", ""
        %li=link_to "Płatność i dostawa", ""
        %li=link_to "Zwroty i reklamacje", ""
    %section.information
      %h2 Informacje
      %ul
        %li=link_to "Regulamin", term_of_use_path
        %li=link_to "Polityka prywatności", ""
    %section.account
      %h2 Konto
    .clearfix
  %aside.contact
    %h2 
      Masz pytania? 
      %br
      Skontaktuj się z nami!
    .content
      .device-wrapper
        .small-icon.phone
        .device 798-718-950
        .clearfix
      .device-wrapper
        .small-icon.email
        .device 
          = mail_to "bok@cukoo.pl"
        .clearfix
      .device-wrapper
        .small-icon.address
        .device.address 
          %span.text Odwiedź nas:
          %br
          ul. Rydla 57/1a, 
          %br
          30-087 Kraków
        .clearfix
      .clearfix
    
  .clearfix