.popover-overlay{ data: { role: "popover-container" } }
  .popup-wrapper
    .popup-content
      = link_to "", "", class: "close", data: { role: "close-popover" }
      .content{ data: { role: "popover-content" } }