.filters-wrapper{ data: { role: "filter" } }
  %button.filter
    .small-icon.filter 
    %span.text Filtruj produkty
    %span.triangle
  .clearfix
  %section.filters
    %h2 Filtruj produkty    
    .filter
      = simple_form_for @product_search, url: "", method: :get, as: "" do |f|
        = f.input :q, placeholder: "Szukana fraza", label: false, input_html: { name: "q" }
        = f.input :size_id, input_html: { name: "size_id"}
        =# f.input :order, as: :hidden
        = f.submit "Szukaj", class: "button grey"