<<<<<<< HEAD
=======
.filters-wrapper{ data: { role: "filter" } }
  %button.filter
    .small-icon.filter 
    %span.text Filtruj produkty
    %span.triangle
  .clearfix
  %section.filters
    %h2 Filtruj produkty    
    .filter
      = simple_form_for @product_search, url: "", method: :get, as: "" do |f|
        = f.submit "Szukaj", class: "button grey"
>>>>>>> variants
