.filters-wrapper{ data: { role: "filter" } }
  %button.filter
    .small-icon.filter 
    %span.text Filtruj produkty
    %span.triangle
  .clearfix
  %section.filters
    %h2 Filtruj produkty
    .content
  
    .filter
      .name Kolor:
    
    .filter
      .name Rozmiar:
    
    .filter
      .name Rozmiar: